.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.font-pstart-logo{
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
  margin-left: 10px;
}


.font-pstart-titles{
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
}

mat-divider{
  margin-left: 5px;
}

mat-nav-list a {
  font-family: 'Press Start 2P', cursive;
  font-size: smaller;
}

span i{
  padding: 10px;
 }

a i{
 padding: 10px;
}